<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="SortTest" >
        <classes>
            <class name="testing.SmokeTest"/>
            <class name="testing.SortTest"/>
            <class name="testing.SmartestTest"/>
            <class name="testing.LengthTest"/>
        </classes>
    </test>
</suite>