<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="tests" parallel="tests" thread-count="5" verbose="2">
    <test name="tickets" parallel="methods">
        <classes>
            <class name="tests.tickets.BuyInfantTicketsTest"/>
        </classes>
    </test>

    <test name="products" parallel="methods">
        <classes>
            <class name="tests.products.FindSimilarProductsTest"/>
            <class name="tests.products.CompareProductsTest"/>
            <class name="tests.products.CompareProductsDifferenceTest"/>
        </classes>
    </test>

    <test name="basket" parallel="methods">
        <classes>
            <class name="tests.basket.AddProductsToBasket"/>
        </classes>
    </test>
</suite>